	<footer class="bar pagefooter">
		<div class="innerbar">
			<div class="footercols">
				<div class="footercol footerintro wide">
					<div class="footerphoto">
						<%= image_tag "photofooter.jpg" %>
					</div>
					<h3>About me</h3>
					I'm Fernando L&oacute;pez, a web developer specialized in frontend, although I enjoy programming in general. I also like maps, Japan and board games.
				</div>
				<div class="footercol footerlinks">
					<ul>
						<li><a href="#">A link,</a> a description.</li>
						<li><a href="#">A link,</a> a description.</li>
						<li><a href="#">A link,</a> a description.</li>
					</ul>
				</div>
			</div>
			<div class="footerbar footerlogo">
				<%= image_tag "tmp-logo.svg" %>
				<div>
					Weaving the web since 2000
				</div>
			</div>
			<div class="footerbar attributions">
				<div>&copy; 2015 Fernando Augusto L&oacute;pez Plascencia.</div>
				<div>Some icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
			</div>			
		</div>
	</footer>