	<header class="bar pageheader">
		<div class="innerbar">
			<%= image_tag "tmp-logo.svg", {class: "headerlogo"} %>
			<h1>Fernando L&oacute;pez</h1>
			<h2>Frontend Webcrafter</h2>			
		</div>
	</header>