---
title: Frontend Developer Fernando Lopez. Let's build something together.
---

<div class="bar herocontentbar">
	<div class="innerbar">
		<h3>Let's get your message across.</h3>		
	</div>
</div>
<div class="bar mainbar contentbar">
	<div class="innerbar">
		<div class="columnar">
			<p>
				<strong>I make websites that deliver messages effectively</strong>, bringing awareness to what needs it, to the right people.
			</p>
			<p>
				<strong>My passion</strong> is to work in teams that help people communicate and interact with each other. I pride myself in the quality of my work. Above all, I strive to think in my clients, and in my clients' clients, in each and every decision we take.
			</p>
			<p>
				My <strong>tech expertise</strong> is focused on HTML, CSS (I prefer Sass) and some Javascript. I also enjoy UX design. On the <strong>business</strong> side, I can ensure that deliverables are done on time, providing communication between the client and the work team until the project's completion.
			</p>
			<p>
				So let's do it. <strong>Let's build a bridge</strong> between you and those who need to hear from you. 
			</p>			
		</div>
		<%= image_tag "bridge.svg", {class: "icon-bridge flourish"} %>
		<h3>Let's build something nice together.</h3>
	</div>
</div><!-- .mainbar -->
<div class="bar formbar contentbar">
	<div class="innerbar">
		<h3>Drop me a line.</h3>
		<form action="/" id="contactform">
			<p>Hi, Fernando, my name is <input type="text" id="cfname"/> and I would like to tell you that:<textarea id="cfmessage"></textarea></p>
			<p><input type="submit" value="Let's talk."/></p>
		</form>	
	</div>
</div>